@import "tailwindcss";


@font-face {
  font-family: "JBMM";
  src: url("/fonts/jbmm.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  font-family: 'JBMM', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  color: rgb(0, 0, 0);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}